<!doctype html>
<html>
  <head>
    <title>KittenKollector viewer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1><a href='/'><i class="fas fa-arrow-circle-left"></i></a> Kitten inspector</h1>
      <ul class="list-group">
        <li class="list-group-item">
          Code: <span class="badge badge-light">{{ kode }}</span>
        </li>
        <li class="list-group-item">
          Name: <span class="badge badge-light">{{ name }}</span>
        </li>
        <li class="list-group-item">
          Location: <span class="badge badge-light">{{ location }}</span>
        </li>
        <li class="list-group-item">
          <img src="{{ image }}">
        </li>
      </ul>
    </div>
  </body>
</html>
